<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Rubik+Mono+One&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet" />
    <link href="../css/main.css" rel="stylesheet" />
    <link rel="icon" href="../images/favicon.ico">
    <title>Hotel Booking App</title>
    </head>
    <body>
        <div class="v101_3">
            <span class="v101_2">WELCOME TO OUR</span>
            <span class="v101_4">HOTEL BOOKING APP</span>
            <span class="brief">An Android application by team 4 for Mobile Development Application project</span>
            <span class="intro">Some outstading features:</span>
            <ul class="list">
                <li>Popular destinations with other users</li>
                <li>Best deals for travel savings</li>
                <li>Variety of trips for many choices</li>
                <li>Find suitable hotels for your trip</li>
                <li>Add your favorite hotels</li>
            </ul>
            <span class="v101_5">Designed by Hoang My Nguyen - All rights reserved 2021</span>
            <div class="v102_12"></div>
        </div>
    </body>
</html>