<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Rubik+Mono+One&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet" />
    <link href="../css/main.css" rel="stylesheet" />
    <link rel="icon" href="../images/favicon.ico">
    <title>Hotel Booking App</title>
    </head>
    <body>
        <div class="v101_3">
            <span class="v101_2">WELCOME TO TEAM 4 </span>
            <span class="v101_4">hOTEL BOOKING APP</span>
            <span class="v101_5">Designed by Hoang My Nguyen</span>
            <div class="v102_12"></div>
        </div>
    </body>
</html>